html, body {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(#FFD393, #26BC93);
  min-height: 100vh; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

.page-title {
  font-size: 4rem;
  font-weight: 300;
  display: block;
  text-align: center;
  padding-top: 2rem; }

.page-subtitle {
  font-size: 2.5rem;
  font-weight: 200;
  display: block;
  text-align: center;
  padding: 1rem 2rem; }

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center; }

.select-shelter, .add-shelter {
  box-sizing: border-box;
  border-top: solid 1px whitesmoke;
  margin: 2rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-header {
  font-size: 2.5rem;
  font-weight: 300;
  display: block; }

.form-input {
  padding: 1rem 0; }
  .form-input select {
    cursor: pointer; }
  .form-input input, .form-input select {
    display: block;
    margin-top: 1rem;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    height: 4.5rem;
    width: 40rem;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */ }

.form-label {
  display: block;
  font-size: 2rem;
  font-weight: 200; }

.button {
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #010101;
  display: inline-block;
  width: 10rem;
  text-align: center;
  margin: 1rem 0;
  transition: all 0.2s; }
  .button:hover {
    transform: scale(1.3); }
  .button:active {
    transform: scale(1.1); }
  .button p {
    margin: 1em; }

.page-logo {
  display: block; }

.bed-count-form {
  display: flex;
  align-items: center;
  justify-content: center; }

.circle-button {
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 1000px;
  font-size: 4rem;
  line-height: 15px;
  font-weight: 400;
  color: #010101;
  display: inline-flex;
  height: 5rem;
  width: 5rem;
  text-align: center;
  margin: 1rem 0;
  transition: all 0.2s;
  align-items: center;
  justify-content: center; }
  .circle-button:hover {
    transform: scale(1.3); }
  .circle-button:active {
    transform: scale(1.1); }
  .circle-button .bottom-margin-adjust {
    margin-bottom: 0.5rem; }

.bed-count-text {
  font-weight: 500;
  font-size: 25rem;
  padding: 0 10rem; }

.text {
  text-align: center;
  display: block;
  font-weight: 200;
  font-size: 2.5rem; }

.bed-count-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
  .bed-count-buttons .button {
    width: 18rem;
    margin-top: 6rem; }
    .bed-count-buttons .button:not(:first-child) {
      margin-left: 4rem; }

#homepage-link {
  cursor: pointer; }
